.navbar-brand {
  font-weight: 700;
  font-size: 1.5rem;
}

.navbar .nav-pills .nav-link.active {
  color: #fff;
}

.navbar-brand a {
  color: inherit;
}

.nav-link .anticon,
.dropdown-item .anticon {
  vertical-align: middle;
}

.nav-link {
  font-size: 0.9rem;
}

.jumbotron {
  background: linear-gradient(to right, #007bff, #000);
}

.jumbotron h1,
.jumbotron h2,
.jumbotron p {
  color: inherit;
}

.jumbotron p {
  font-size: 1.3rem;
  letter-spacing: 3px;
  font-weight: 300;
}
