.jumbotron {
  background: linear-gradient(to right, #007bff, #000);
}

.jumbotron h1,
.jumbotron h2,
.jumbotron p {
  color: inherit;
}

.jumbotron p {
  font-size: 1.3rem;
  letter-spacing: 3px;
  font-weight: 300;
}
